.article {
  flex-grow: 1;
  a {
    color: #4078c0;
    text-decoration: none;
  }
  .md-content {
    box-sizing: border-box;
    max-width: 1200px;
    background: #fff;
    font-size: 1.1rem;
    padding: 1rem 3rem;
    margin: 1rem auto;
    border-radius: 5px;
    box-shadow: 0 0 6px 2px #efefef;
    word-break: break-word;

    img {
      max-height: 450px;
      max-width: 100%;
    }
    .md-title {
      font-weight: bolder;
      font-size: 2.5rem;
      text-align: center;
    }

    .md-author {
      text-align: center;
      font-weight: bold;
      color: #4e5358;
      padding: 0.7rem;
    }

  }

  .md-loading {
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
    margin: 2rem;
  }
  @media screen and (max-width: 960px){
    display: block;
    .md-content {
      box-sizing: border-box;
      width: 100%;
      padding: 2rem;
      overflow: auto;
    }
  }

  img {
    cursor: zoom-in;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    /* Full width */
    /* Full height */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }

  /* Add Animation - Zoom in the Modal */
  .modal-content {
    animation-name: zoom;
    animation-duration: 0.4s;
  }

  /* The Close Button */
  .myModalClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
}
