.write-one {
  padding: 0 2rem;
  font-size: 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;

  .write-one-container {
    flex-grow: 1;
    max-width: 1000px;
    width: 100%;
  }

  .header {
    display: flex;
    align-items: center;

    .header-item {
      flex-basis: 25%;
      margin: 0.5rem;
    }
    .header-item-obj {
      margin: 0.5rem;
      font-weight: bolder;
    }
  }

  .mde-header .mde-tabs button.selected {
    background: antiquewhite;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 1px sandybrown;
    border: 0;
  }

  .operation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom: 1rem;
    Button {
      flex-basis: 49%;
    }
  }


  .md-container {
    white-space: pre-line;;
    word-break:  break-all;
    .mde-text {
      min-height: 70vh!important;
      font-size: 1.2rem;
    }
    .image-tip {
      font-weight: bolder;
      color: darkorange;
    }
  }

  .mde-preview {
    img {
      max-height: 400px;
      max-width: 80%;
    }
  }
  @media screen and (max-width: 960px){
    width: auto !important;
    padding: .8rem;
    .header {
      flex-direction: column;
      .header-item {
        width: 100%;
      }
    }
  }
}
