.nav {
  padding: 1rem 5rem 1rem 5rem;
  border-radius: 10px;
  box-shadow:  3px 2px 12px #efefef;
  background: #ffffff;

  .nav-container {
    margin: auto;
    display: flex;
    width: 1200px;
    .logo {
      font-size: 2.5rem;
      font-weight: bold;
      cursor: pointer;
      margin: auto;
    }
    .logo-right {
      display: flex;
      flex-wrap: nowrap;
      flex-grow: 1;
      justify-content: flex-end;
      .search-box {
        border: 1px solid #efefef;
        box-shadow: inset 0 0 5px 2px #efefef;
        border-radius: 15px;
        align-self: center;
        .search-box-input {
          padding-left: 1rem;
        }
      }
    }
  }
  .top-icon-show {
    position: fixed;
    right: 30%;
    bottom: 30%;
    opacity: 1;
    transition: all .2s ease-in-out;
    z-index: 1;
  }

  .hide {
    opacity: 0;
    position: fixed;
    right: 30%;
    bottom: 30%;
    transition: all .2s ease-in-out ;
  }


  @media screen and (max-width: 960px){
    padding: 0;
    .nav-container {
      width: auto;
      .logo {
        font-size: 1.5rem;
        margin: auto 0 auto 2.5rem;
      }
      .msg {
        display: none;
      }
    }
    .top-icon-show {
      right: 2rem;
      bottom: 4rem;
    }

  }
}

